{% extends 'base.html' %}


{% block content %}

<div class="container">
    {% if object_list %}    
    <div class="row">
        <h4 class="pl-2">현재 설정정보</h4>
    </div>
    <div class="row">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>설정명</th>
                    <th>약품명컬럼</th>
                    <th>처방량컬럼</th>
                    <th>정렬기준컬럼</th>
                    <th>필수컬럼</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list  %}
                <tr>
                    <td>{{ object.title }}</td>
                    <td>{{ object.key_column }}</td>
                    <td>{{ object.order_amt_column }}</td>
                    <td>{{ object.orderby_columns }}</td>
                    <td>{{ object.not_null_columns }}</td>
                </tr>
                <tr>
                    <th colspan="5" class="text-center">리스트 출력시 컬럼순서</th>
                </tr>
                <tr>
                    <td colspan="5" class="text-center">{{ object.extra_columns }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="row">
        <p>아직 제출할 마약류 불출현황 엑셀 파일의 정보가 없습니다.</p>
    </div>
    <div class="row">
        <p class="py-2 mr-2"> 설정정보를 생성해야 합니다. <a href="{% url 'opremain:config-create' %}">생성하러 가기</a></p>
       
    </div>
        
    {% endif %}
</div>
{% endblock content %}