<nav class="navbar navbar-expand-sm navbar-light bg-dark fixed-top">
    <a class="navbar-brand" href="/">약국도구</a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#main-nav-bar" aria-controls="main-nav-bar"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="main-nav-bar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'opremain:excel-submit' %}">마약류잔량집계 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
        </ul>
        {% if request.user.is_active %}
            {% if request.user.is_superuser  %}
                <a href="{% url 'admin:index' %}">{{ request.user }}님</a>
            {% else %}
                {{ request.user }}님
            {% endif %}
            <li><a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-logout√"></span>로그아웃</a></li>
            <li><a href="{% url 'accounts:password_change' %}"><span class="glyphicon glyphicon-logout√"></span>비번변경</a></li>
        {% else %}
            <li><a href="{% url 'accounts:login' %}"><span class="{% url 'accounts:login' %}"></span>로그인/사용자등록</a></li>
        {% endif %}
    </div>
</nav>